/* Apply flexbox to the body and html */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1; /* Ensure it takes up all available space */
}

.main-content {
  flex: 1; /* Ensure it takes up the remaining space */
}

/* Footer styles */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: auto; /* Ensure footer is pushed to the bottom */
}

.footer__section {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}

.footer__section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 60px;
}

.footer__section ul {
  list-style: none;
  padding: 0;
}

.footer__section ul li {
  margin-bottom: 5px;
}

.footer__section ul li a {
  text-decoration: none;
  color: #000;
}

.footer__section ul li a:hover {
  text-decoration: underline;
}

.footer__appContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer__appContainer a img {
  width: 120px;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__social a {
  display: inline-block;
}

.footer__social img {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.footer__section p {
  font-size: 14px;
  color: #555;
  margin-right: 20px;
}

.footer__legal {
  width: 100%;
  text-align: center;
  margin-top: 0;
}
