/* Sidebar container */
.sidebar {
  position: fixed;
  margin-top: 48px; /* Ensure the sidebar starts below the navbar */
  top: 32px; /* Adjust this value based on your navbar height */
  left: 0;
  width: 180px; /* Adjust width as needed */
  height: calc(100% - 60px); /* Full height minus navbar height */
  background-color: #00000085; /* Sidebar background color */
  color: #ffffff; /* Text color for better readability */
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* Optional shadow */
  z-index: 1001; /* Ensure it appears above other content but below the navbar */
  transform: translateX(-100%); /* Initially hidden */
  transition: transform 0.3s ease; /* Smooth transition for hiding/showing */
  font-weight: bold;
}

/* Show sidebar when visible */
.sidebar.visible {
  transform: translateX(0); /* Slide in */
}

/* Sidebar navigation list */
.sidebar ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

/* Sidebar navigation items */
.sidebar li {
  margin: 20px 0; /* Space between items */
  font-size: 18px; /* Adjust font size as needed */
}

/* Sidebar navigation links */
.sidebar li a {
  text-decoration: none; /* Remove underline from links */
  color: #ffffff; /* Text color */
  display: block; /* Ensure the link takes up full width */
  padding: 10px; /* Padding around the link */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
}

/* Hover effect for sidebar links */
.sidebar li a:hover {
  background-color: #f1f1f1a3; /* Background color on hover */
  color: #000000; /* Text color on hover */
}

/* User logo container */
.user-logo-container {
  text-align: center;
  margin-bottom: 1rem; /* Space below user logo */
}

/* User logo styles */
.user-logo {
  width: 60px; /* Set size to match Admin logo */
  height: 60px; /* Set size to match Admin logo */
  border-radius: 50%; /* Round the user logo */
  display: block;
  margin: 0 auto; /* Center the logo */
}
